<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello world</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<H1>Welcome</H1>
    Books:
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.publisher.name}"></td>
        </tr>
    </table>
</body>
</html>